/*
 Theme Name:   Storefront Child Theme
 Theme URI:    http://www.wpbeginner.com/
 Description:  A Storefront child theme 
 Author:       Manali
 Template:     storefront
 Version:      1.0.0
*/
 
@import url("../storefront/style.css");

.site-footer div.left{
	
	float: left;
    width: 800px;
    padding-left: 50px;
    
}
.site-footer div.right{
	
	float: right;
    
}

/*.googlemap {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
}

.googlemap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
*/


.footer_left_section {
    -moz-column-count:2;
    /* Firefox */
    -webkit-column-count:2;
    /* Safari and Chrome */
    column-count:2;
    height: 300px;
}
.unit {
    height:50px;
    width:100%;
    display: 	block;
     font-size: 2em;
    line-height: 1.214;
    margin-bottom: inherit;
}

a.remove:before {
     content: "\f1f8";
}